body {
    font-family: system-ui, sans-serif;
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
    background: #eaa001;
}

h1 {
    color: #222;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input, button {
    padding: 8px 12px;
    font-size: 15px;
    border: 1px solid #1e8865;
    border-radius: 6px;
}

button {
    background: #4a6cf7;
    color: rgb(119, 9, 58);
    border: none;
    cursor: pointer;
}

    button:hover {
        background: #3a5ce5;
    }

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 8px;
}

.square {
    aspect-ratio: 1;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.1s;
}

    .square:hover {
        transform: scale(1.05);
    }

.stats {
    margin-top: 20px;
    padding: 12px;
    background: rgb(74, 6, 6);
    border-radius: 6px;
    border: 1px solid #49aec4;
}

.hint {
    margin-top: 10px;
    font-size: 14px;
    color: #f2ea09;
}
